html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}

:active,
:focus,
:hover {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

[hidden],
template {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1;
    margin: 0;
}

li,
ul {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
input,
label,
select,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: inherit;
    font-size: inherit;
}

input::-webkit-input-placeholder {
    color: inherit;
    font-size: inherit;
}

input::-moz-placeholder {
    color: inherit;
    font-size: inherit;
}

input:-ms-input-placeholder {
    color: inherit;
    font-size: inherit;
}

input::-ms-input-placeholder {
    color: inherit;
    font-size: inherit;
}

input,
textarea {
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

::-webkit-search-decoration {
    display: none;
}

textarea {
    overflow: auto;
}

select[multiple],
textarea {
    vertical-align: top;
}

::selection {
    color: inherit;
    background: inherit;
    text-shadow: inherit;
}

::-webkit-selection {
    color: inherit;
    background: inherit;
    text-shadow: inherit;
}

::-moz-selection {
    color: inherit;
    background: inherit;
    text-shadow: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

blockquote {
    margin: 0;
}

@font-face {
    font-family: Pinup-Bold;
    src: 
    url("fonts/Pinup-Bold.eot") format("embedded-opentype"), 
    url("fonts/Pinup-Bold.ttf") format("truetype"), 
    url("fonts/Pinup-Bold.woff2") format("woff2"), 
    url("fonts/Pinup-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pinup-Medium;
    src: 
    url("fonts/Pinup-Medium.eot") format("embedded-opentype"), 
    url("fonts/Pinup-Medium.ttf") format("truetype"), 
    url("fonts/Pinup-Medium.woff2") format("woff2"), 
    url("fonts/Pinup-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pinup-Regular;
    src: 
    url("fonts/Pinup-Regular.eot") format("embedded-opentype"), 
    url("fonts/Pinup-Regular.ttf") format("truetype"), 
    url("fonts/Pinup-Regular.woff2") format("woff2"), 
    url("fonts/Pinup-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pinup-Black;
    src: 
    url("fonts/Pinup-Black.eot") format("embedded-opentype"), 
    url("fonts/Pinup-Black.woff") format("woff"), 
    url("fonts/Pinup-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("fonts/Roboto-Regular.eot");
    src: url("fonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), 
         url("fonts/Roboto-Regular.woff2") format("woff2"), 
         url("fonts/Roboto-Regular.woff") format("woff"), 
         url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto-Medium;
    src: url("fonts/Roboto-Medium.eot");
    src: url("fonts/Roboto-Medium.eot#iefix") format("embedded-opentype"), 
         url("fonts/Roboto-Medium.woff2") format("woff2"), 
         url("fonts/Roboto-Medium.woff") format("woff"), 
         url("fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("fonts/Roboto-Bold.eot");
    src: url("fonts/Roboto-Bold.eot#iefix") format("embedded-opentype"), 
         url("fonts/Roboto-Bold.woff2") format("woff2"), 
         url("fonts/Roboto-Bold.woff") format("woff"), 
         url("fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: icomoon;
    src: url("fonts/icomoon.eot");
    src: url("fonts/icomoon.eot") format("embedded-opentype"), 
         url("fonts/icomoon.ttf") format("truetype"), 
         url("fonts/icomoon.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

[class*=" icon-"],
[class^="icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sol:before {
    content: "\e901";
}

.icon-touch:before {
    content: "\e917";
}

.icon-close:before {
    content: "\e913";
}

.icon-money:before {
    content: "\e910";
}

.icon-coefficient:before {
    content: "\e911";
}

.icon-event:before {
    content: "\e912";
}

.icon-ars:before {
    content: "\e902";
}

.icon-azn:before {
    content: "\e903";
}

.icon-bgn:before {
    content: "\e904";
}

.icon-brl:before {
    content: "\e905";
}

.icon-cop:before {
    content: "\e906";
}

.icon-eur:before {
    content: "\e907";
}

.icon-idr:before {
    content: "\e908";
}

.icon-inr:before {
    content: "\e909";
}

.icon-kzt:before {
    content: "\e90a";
}

.icon-mdl:before {
    content: "\e90b";
}

.icon-pln:before {
    content: "\e918";
}

.icon-rub:before {
    content: "\e919";
}

.icon-try:before {
    content: "\e90c";
}

.icon-uah:before {
    content: "\e90d";
}

.icon-usd:before {
    content: "\e90e";
}

.icon-uzs:before {
    content: "\e90f";
}

.icon-wallet:before {
    content: "\e916";
    color: #fff;
}

.icon-person:before {
    content: "\e915";
    color: #fff;
}

.icon-arrow-right:before {
    content: "\e914";
}

.icon-gift1:before {
    content: "\e99f";
}

body,
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 479.9px) {

    body,
    html {
        min-height: 100%;
    }
}

body {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #fff;
    background: url("img/bg.jpg") 50% 50% / cover no-repeat;
    overflow-x: hidden;
    position: relative;
}

@media screen and (max-width: 479.9px) {
    body {
        background: url("img/bg-mob.jpg") 50% 50% / cover no-repeat;
        overflow-y: auto;
    }
}

.grecaptcha-badge {
    visibility: hidden !important;
    opacity: 0 !important;
}

.header {
    top: 0;
    left: 0;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    position: absolute;
    font-size: 18px;
    font-family: Pinup-Bold, sans-serif;
    width: 100%;
    z-index: 100;
}

.header,
.header__logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.header__logo {
    cursor: pointer;
    margin-top: 5.9vh;
    margin-left: 5.9vh;
}

@media screen and (orientation: portrait) {
    .header__logo {
        margin-left: 12.57vw;
        margin-top: 10vw;
    }
}

.header__logo img {
    width: 100%;
    max-width: 180px; /* ajuste conforme o tamanho desejado */
    height: auto !important;
}


@media screen and (orientation: portrait) {
    .header__logo>img {
        width: 41vw;
    }
}

.header__logo>img.tiger {
    width: 20.5vh;
    margin-bottom: -1vh;
}

@media screen and (orientation: portrait) {
    .header__logo>img.tiger {
        margin-bottom: -1vw;
        width: 35.7vw;
    }
}

.main {
    position: relative;
    height: 100%;
}

.main,
.main__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}

.main__container {
    overflow: hidden hidden;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
}

@media screen and (max-width: 1919.9px) {
    .main__container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 919.9px) {
    .main__container {
        padding: 90px 20px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .main__container {
        padding: 10px 16px 26px;
    }
}

@media screen and (orientation: portrait) {
    .main__container {
        padding: 0;
    }
}

.main__modal {
    background: rgba(90, 42, 24, 0.8);
    -webkit-backdrop-filter: blur(6.5px);
    backdrop-filter: blur(6.5px);
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    -webkit-animation-name: appearing;
    animation-name: appearing;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    overflow: auto;
}

.main__modal_show {
    display: -webkit-flex;
    display: flex;
    visibility: visible;
}

.main__new-wheel {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.main__new-persons {
    position: absolute;
}

@-webkit-keyframes appearing {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.modal::-webkit-scrollbar {
    display: none;
    width: 0;
}

.modal__wrapper {
    display: none;
    visibility: hidden;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 360px;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: radial-gradient(50% 50% at 50% 50%, rgba(116, 0, 1, 0.95) 0, rgba(47, 0, 0, 0.95) 100%);
    box-shadow: 0 45px 80px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.3);
    padding: 0 0 10px;
    margin: 0 auto;
    position: relative;
}

.modal__wrapper-bg_pattern {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 16px;
    background-image: url("img/form-bg.svg");
}

@media screen and (max-width: 500px) {
    .modal__wrapper-bg_pattern {
        padding-left: 15px;
    }
}

@media screen and (max-width: 479.9px) {
    .modal__wrapper {
        max-width: 360px;
        width: 320px;
        padding: 0 0 4px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .modal__wrapper {
        width: 360px;
        padding: 0 0 10px;
    }
}

.modal__wrapper_show {
    visibility: visible;
}

.comp-title,
.modal__wrapper_show {
    display: -webkit-flex;
    display: flex;
}

.comp-title {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    padding: 24px 0;
    font-family: Pinup-Bold, sans-serif;
}

@media screen and (max-width: 479.9px) {
    .comp-title {
        padding: 36px 8px 8px;
    }
}

.comp-title__bonus {
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #f0d66e;
}

@media screen and (max-width: 479.9px) {
    .comp-title__bonus {
        font-size: 40px;
    }
}

.comp-title__bonus_second {
    font-size: 32px;
}

.comp-title__coin {
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 479.9px) {
    .comp-title__coin {
        font-size: 18px;
    }
}

.heading {
    position: relative;
    background: #ff2400;
    background-size: cover;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    border-radius: 0;
}

@media screen and (max-width: 1919.9px) {
    .heading {
        padding: 14px 20px;
    }
}

@media screen and (max-width: 479.9px) {
    .heading {
        padding: 12px 15px;
    }
}

.heading>h2 {
    font-size: 18px;
    font-family: Roboto-Bold, sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    color: #fff;
}

.tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
}

@media screen and (max-width: 919.9px) {
    .tabs {
        width: 320px;
    }
}

@media screen and (max-width: 479.9px) {
    .tabs {
        width: 272px;
        border-radius: 4px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .tabs {
        width: 320px;
        margin: 0 auto;
        border-radius: 4px;
    }
}

.tabs__item {
    cursor: pointer;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    width: 50%;
}

.tabs__item>button {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px;
    padding: 9px 12px;
    height: 36px;
    background-color: hsla(0, 0%, 100%, 0.24);
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 919.9px) {
    .tabs__item>button {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .tabs__item>button {
        height: 34px;
        font-size: 16px;
    }
}

.tabs__item>button.active {
    color: #fff;
    background-color: #ff2400;
}

.wheel {
    z-index: 1;
}

.wheel__attempts {
    font-family: Pinup-Black, sans-serif;
    font-size: 1.66vh;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2vh;
}

.wheel__layout {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto 10.5%;
    position: relative;
    width: 66.5vh;
    height: 66.5vh;
    box-sizing: content-box;
    border-radius: 50%;
    z-index: inherit;
}

@media screen and (max-width: 1919.9px) {
    .wheel__layout {
        margin: 0 auto 9.5%;
    }
}

@media screen and (max-width: 1199.9px) {
    .wheel__layout {
        margin: 0 auto 13vw;
        width: 51vw;
        height: 51vw;
    }
}

@media screen and (max-width: 919.9px) {
    .wheel__layout {
        width: 440px;
        height: 440px;
    }
}

@media screen and (max-width: 479.9px) {
    .wheel__layout {
        margin: 0 auto 26vw;
        width: 83.6vw;
        height: 83.6vw;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .wheel__layout {
        width: 47vw;
        height: 47vw;
    }
}

.wheel__layout:before {
    content: "";
    background: url("img/subwheel.png") 50% / contain no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wheel__layout.stage-1 .wheel__spinner-img {
    -webkit-animation: new-wheel-shake-1 2s ease-in-out infinite;
    animation: new-wheel-shake-1 2s ease-in-out infinite;
}

.wheel__layout.stage-1.stage-1-complete .wheel__spinner-img {
    -webkit-animation: new-wheel-shake-2 2s ease-in-out infinite;
    animation: new-wheel-shake-2 2s ease-in-out infinite;
}

.wheel__layout.spin-to-stage-two .wheel__spinner-img {
    -webkit-animation: newSpinToStageTwo 4s ease-in-out infinite;
    animation: newSpinToStageTwo 4s ease-in-out infinite;
}

.wheel__layout.spin-to-stage-two .wheel__button-icon:before {
    -webkit-animation: none;
    animation: none;
}

.wheel__layout.stage-2 .wheel__spinner-img {
    -webkit-animation: new-wheel-shake-3 2s ease-in-out infinite;
    animation: new-wheel-shake-3 2s ease-in-out infinite;
}

.wheel__layout.stage-2 .wheel__button-icon:before {
    -webkit-animation: inherit;
    animation: inherit;
}

.wheel__layout.spin-to-stage-three .wheel__spinner-img {
    -webkit-animation: newSpinToStageThree 4s ease-in-out;
    animation: newSpinToStageThree 4s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform: rotate(4319deg);
    transform: rotate(4319deg);
}

.wheel__layout.spin-to-stage-three .wheel__button-icon:before {
    -webkit-animation: none;
    animation: none;
}

.wheel__achievements {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    top: 36%;
    bottom: auto;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 64vw;
}

@media screen and (max-width: 1365.9px) {
    .wheel__achievements {
        width: 80vw;
        top: 26%;
    }
}

@media screen and (orientation: portrait) {
    .wheel__achievements {
        width: 94vw;
        top: -11%;
    }
}

.wheel__achievements-bet,
.wheel__achievements-bonus {
    position: relative;
    -webkit-animation-name: appearing;
    animation-name: appearing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.wheel__achievements-bet.hide,
.wheel__achievements-bonus.hide {
    display: none;
}

.wheel__lights {
    position: absolute;
    border-radius: 50%;
}

.wheel__lights_one {
    width: 100%;
    height: 100%;
    left: 0;
    top: -1%;
    background: none;
    background-size: 100%;
    -webkit-animation: blik-1 1s linear infinite;
    animation: blik-1 1s linear infinite;
}

.wheel__spinner {
    position: relative;
    width: 100%;
    height: 100%;
}

.wheel__spinner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -8px;
}

@media screen and (max-width: 479.9px) {
    .wheel__spinner:before {
        top: -4px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .wheel__spinner:before {
        top: -4px;
    }
}

.wheel__spinner-img {
    background: url("img/wheel-nine.png") 50% no-repeat;
    background-size: contain;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}

.wheel__spinner-center {
    background: url("img/wheel-center.png") 50% / contain no-repeat;
    width: 27%;
    height: 27%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 15;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 28px;
    font-family: Pinup-Black, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.wheel__spinner-center .arrows {
    background-image: url("img/icon-refresh.svg");
    width: 30%;
    height: 30%;
    margin-left: 0;
    margin-top: 0;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-animation: rotateIcon 1.5s linear infinite alternate;
    animation: rotateIcon 1.5s linear infinite alternate;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .wheel__spinner-center {
        width: 108px;
        height: 94px;
        font-size: 14px;
    }
}

.wheel__win {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: 100%;
}

.wheel__pointer {
    position: absolute;
    top: 1%;
    left: 46.75%;
    width: 6.5%;
    height: 8.7%;
    background: url("img/pointer.png") 50% 0 no-repeat;
    background-size: contain;
}

.wheel__flare {
    position: absolute;
    mix-blend-mode: screen;
    z-index: 1;
}

.run-circle {
    cursor: pointer;
}

@-webkit-keyframes icon-animation {
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes icon-animation {
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@-webkit-keyframes new-wheel-shake-1 {
    0% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
}

@keyframes new-wheel-shake-1 {
    0% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }

    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }

    to {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
}

@-webkit-keyframes newSpinToStageTwo {
    0% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    70% {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }

    80% {
        -webkit-transform: rotate(2019deg);
        transform: rotate(2019deg);
    }

    to {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }
}

@keyframes newSpinToStageTwo {
    0% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    70% {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }

    80% {
        -webkit-transform: rotate(2019deg);
        transform: rotate(2019deg);
    }

    to {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }
}

@-webkit-keyframes new-wheel-shake-2 {
    0% {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }

    50% {
        -webkit-transform: rotate(2019deg);
        transform: rotate(2019deg);
    }

    to {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }
}

@keyframes new-wheel-shake-2 {
    0% {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }

    50% {
        -webkit-transform: rotate(2019deg);
        transform: rotate(2019deg);
    }

    to {
        -webkit-transform: rotate(2013deg);
        transform: rotate(2013deg);
    }
}

@-webkit-keyframes newSpinToStageThree {
    0% {
        -webkit-transform: rotate(2064deg);
        transform: rotate(2064deg);
    }

    70% {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }

    80% {
        -webkit-transform: rotate(4503deg);
        transform: rotate(4503deg);
    }

    to {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }
}

@keyframes newSpinToStageThree {
    0% {
        -webkit-transform: rotate(2064deg);
        transform: rotate(2064deg);
    }

    70% {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }

    80% {
        -webkit-transform: rotate(4503deg);
        transform: rotate(4503deg);
    }

    to {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }
}

@-webkit-keyframes new-wheel-shake-3 {
    0% {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }

    50% {
        -webkit-transform: rotate(4503deg);
        transform: rotate(4503deg);
    }

    to {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }
}

@keyframes new-wheel-shake-3 {
    0% {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }

    50% {
        -webkit-transform: rotate(4503deg);
        transform: rotate(4503deg);
    }

    to {
        -webkit-transform: rotate(4497deg);
        transform: rotate(4497deg);
    }
}

@media screen and (orientation: portrait) and (max-height: 180vw) and (max-width: 500px) {
    .wheel__button-wrapper {
        top: 88vw;
    }
}

@-webkit-keyframes rotateIcon {
    to {
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
}

@keyframes rotateIcon {
    to {
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
}

.lights-content {
    position: relative;
    font-family: Pinup-Black, sans-serif;
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    background: url("img/bonus.png") 50% / contain no-repeat;
    min-width: 200px;
    min-height: 134px;
    width: 26vh;
    height: 17.31vh;
    padding: 15px;
}

@media screen and (orientation: portrait) {
    .lights-content {
        min-width: 35vw;
        min-height: 24vh;
        width: 35vw;
        height: 24vh;
        padding: 0;
    }
}

.lights-content__value {
    position: relative;
    font-size: 8.5vh;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: -1vh;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .lights-content__value {
        font-size: 60px;
    }
}

@media screen and (orientation: portrait) {
    .lights-content__value {
        font-size: 13.5vw;
    }
}

.lights-content__value:before {
    content: attr(data-text);
    font-size: inherit;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(135deg,
            #7d372d 14.64%,
            #ffd3b3 28.94%,
            #b28572 37.29%,
            #6a4235 45.64%,
            #3d2310 52.57%,
            #f7c7ac 58.47%,
            #f9c9ae 60.68%,
            #facaaf 60.69%,
            #fdcdb2 62.15%,
            #fdcdb2 62.16%,
            #ffceb3 64.36%,
            #d8ab8f 68.05%,
            #c2967b 69.89%,
            #46250b 80.04%,
            #a87c64 82.92%,
            #ffd3b3 85.36%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%) scale(1.015);
    transform: translate(-50%, -50%) scale(1.015);
    -webkit-transform-origin: center;
    transform-origin: center;
    white-space: nowrap;
}

.lights-content__currency,
.lights-content__title {
    font-size: 2.2vh;
    color: #fff;
    margin-top: -1vh;
    text-align: center;
}

@media screen and (orientation: landscape) and (max-height: 600px) {

    .lights-content__currency,
    .lights-content__title {
        font-size: 16px;
        margin-top: -10px;
    }
}

@media screen and (orientation: portrait) {

    .lights-content__currency,
    .lights-content__title {
        font-size: 3.38vw;
        margin-top: -3vw;
    }
}

.lights-content_bonus {
    padding-top: 3vh;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .lights-content_bonus {
        padding-top: 20px;
    }
}

@media screen and (orientation: portrait) {
    .lights-content_bonus {
        padding-top: 0;
    }
}

@media screen and (orientation: portrait) {
    .lights-content_bonus .lights-content__title {
        margin-top: -2vw;
    }
}

.lights-content_bonus .lights-content__value {
    font-size: 2.6vh;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .lights-content_bonus .lights-content__value {
        font-size: 18px;
    }
}

.lights-content_bonus .lights-content__currency {
    font-size: 4.5vh;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .lights-content_bonus .lights-content__currency {
        font-size: 36px;
    }
}

@media screen and (orientation: portrait) {
    .lights-content_bonus .lights-content__currency {
        font-size: 6.69vw;
        margin-top: -2vw;
    }
}

.terms {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 9px 19px;
    max-width: 604px;
    width: 100%;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 8.5px;
    font-family: Pinup-Regular, sans-serif;
    line-height: 1.3;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 3px;
    z-index: 2;
}

@media screen and (max-width: 1919.9px) {
    .terms {
        padding: 9px 16px;
        max-width: 550px;
        font-size: 8px;
    }
}

@media screen and (max-width: 479.9px) {
    .terms {
        padding: 8px 8px 8px 16px;
        max-width: 92%;
        font-size: 7px;
    }
}

.terms__icon {
    margin: 0 20px 0 0;
    display: -webkit-flex;
    display: flex;
}

@media screen and (max-width: 479.9px) {
    .terms__icon {
        margin: 0 16px 0 0;
    }
}

.terms__icon>img {
    width: 45px;
    height: 100%;
}

@media screen and (max-width: 1919.9px) {
    .terms__icon>img {
        width: 33px;
    }
}

.terms__wrapper {
    text-align: center;
}

@media screen and (max-width: 479.9px) {
    .terms__wrapper {
        text-align: initial;
    }
}

.terms__text:first-child {
    margin: 0 0 10px;
    display: block;
    font-family: Pinup-Regular, sans-serif;
}

@media screen and (max-width: 479.9px) {
    .terms__text:first-child {
        margin: 0 0 6px;
    }
}

.ribbons {
    font-family: Pinup-Black, sans-serif;
    position: relative;
    text-align: center;
    width: 100vw;
    margin-top: 21vh;
    margin-bottom: 3vh;
    padding-right: 6vh;
    -webkit-transform: rotate(-6.75deg);
    transform: rotate(-6.75deg);
}

@media screen and (max-width: 479.9px) {
    .ribbons {
        padding: 0;
        margin-top: 46vw;
    }
}

@media screen and (orientation: portrait) {
    .ribbons {
        margin-bottom: 5vw;
        margin-top: 34vw;
        padding-right: 5vw;
    }
}

.ribbons__title_red {
    background-color: #ff2400;
    color: #fff;
    display: inline-block;
    font-size: 4.44vh;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: skew(-6.75deg);
    transform: skew(-6.75deg);
    padding: 0 2vh;
    height: 7.4vh;
    line-height: 7.4vh;
}

@media screen and (orientation: portrait) {
    .ribbons__title_red {
        font-size: 4.9vw;
        height: 9vw;
        line-height: 9vw;
        padding: 0 4vw;
    }
}

.ribbons span {
    -webkit-transform: skew(6.75deg);
    transform: skew(6.75deg);
}

@-webkit-keyframes pulseAnimation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulseAnimation {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pulseAnimation90 {
    0% {
        -webkit-transform: scale(1) rotate(90deg);
        transform: scale(1) rotate(90deg);
    }

    50% {
        -webkit-transform: scale(0.8) rotate(90deg);
        transform: scale(0.8) rotate(90deg);
    }

    to {
        -webkit-transform: scale(1) rotate(90deg);
        transform: scale(1) rotate(90deg);
    }
}

@keyframes pulseAnimation90 {
    0% {
        -webkit-transform: scale(1) rotate(90deg);
        transform: scale(1) rotate(90deg);
    }

    50% {
        -webkit-transform: scale(0.8) rotate(90deg);
        transform: scale(0.8) rotate(90deg);
    }

    to {
        -webkit-transform: scale(1) rotate(90deg);
        transform: scale(1) rotate(90deg);
    }
}

.decor-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.decor-items__item {
    position: absolute;
    -webkit-animation: bounceAnimation 4s ease-in-out infinite;
    animation: bounceAnimation 4s ease-in-out infinite;
}

.decor-items__container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.decor-items__element {
    position: absolute;
}

.decor-items__coins {
    width: 100vw;
    bottom: 0;
    left: 0;
    -webkit-animation: pulseAnimation 5s ease-in-out infinite;
    animation: pulseAnimation 5s ease-in-out infinite;
}

.decor-items__coins_portrait {
    height: 100vw;
    top: 0;
    left: -50vw;
    -webkit-animation: pulseAnimation90 5s ease-in-out infinite;
    animation: pulseAnimation90 5s ease-in-out infinite;
}

@media screen and (orientation: landscape) {
    .decor-items__coins_portrait {
        display: none;
    }
}

.decor-items__flag {
    width: 20vh;
    top: 3vh;
    left: 40vh;
}

@media screen and (orientation: portrait) {
    .decor-items__flag {
        display: none;
    }
}

.decor-items__tiger1 {
    width: 69.8vh;
    bottom: 0;
    right: calc(50vw + 130px);
}

@media screen and (orientation: portrait) {
    .decor-items__tiger1 {
        display: none;
    }
}

.decor-items__tiger2 {
    width: 55vh;
    bottom: -2vh;
    left: calc(50vw + 12vh);
}

@media screen and (orientation: portrait) {
    .decor-items__tiger2 {
        width: 72vw;
        left: -9vw;
        top: 80vw;
        bottom: auto;
        z-index: 11;
    }
}

@media screen and (orientation: portrait) and (min-height: 150vw) {
    .decor-items__tiger2 {
        width: 80vw;
        top: 80vw;
    }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
    .decor-items__tiger2 {
        top: 99vw;
    }
}

@media screen and (orientation: portrait) and (min-height: 180vw) {
    .decor-items__tiger2 {
        width: 100vw;
    }
}

@media screen and (orientation: landscape) and (max-height: 650px) {
    .decor-items__tiger2 {
        left: calc(50vw + 140px);
    }
}

.email-form {
    width: 100%;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .email-form {
        padding-top: 10px;
    }
}

.email-form__item {
    position: relative;
    margin-bottom: 10px;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .email-form__item {
        margin-bottom: 8px;
    }
}

.email-form__email-input,
.email-form__password-input {
    background-color: #feff6b;
    color: #000;
    border: 1px solid #be9900;
    border-radius: 2px;
    height: 36px;
    width: 100%;
    font-size: 16px;
    padding: 5px 0 5px 14px;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {

    .email-form__email-input,
    .email-form__password-input {
        height: 36px;
        font-size: 14px;
    }
}

.email-form__email-input::-webkit-input-placeholder,
.email-form__password-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.email-form__email-input::-moz-placeholder,
.email-form__password-input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.email-form__email-input:-ms-input-placeholder,
.email-form__password-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.email-form__email-input::-ms-input-placeholder,
.email-form__password-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.email-form__email-input::placeholder,
.email-form__password-input::placeholder {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

@media screen and (max-width: 479.9px) {

    .email-form__email-input::-webkit-input-placeholder,
    .email-form__password-input::-webkit-input-placeholder {
        font-size: 16px;
    }

    .email-form__email-input::-moz-placeholder,
    .email-form__password-input::-moz-placeholder {
        font-size: 16px;
    }

    .email-form__email-input:-ms-input-placeholder,
    .email-form__password-input:-ms-input-placeholder {
        font-size: 16px;
    }

    .email-form__email-input::-ms-input-placeholder,
    .email-form__password-input::-ms-input-placeholder {
        font-size: 16px;
    }

    .email-form__email-input::placeholder,
    .email-form__password-input::placeholder {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {

    .email-form__email-input::-webkit-input-placeholder,
    .email-form__password-input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .email-form__email-input::-moz-placeholder,
    .email-form__password-input::-moz-placeholder {
        font-size: 14px;
    }

    .email-form__email-input:-ms-input-placeholder,
    .email-form__password-input:-ms-input-placeholder {
        font-size: 14px;
    }

    .email-form__email-input::-ms-input-placeholder,
    .email-form__password-input::-ms-input-placeholder {
        font-size: 14px;
    }

    .email-form__email-input::placeholder,
    .email-form__password-input::placeholder {
        font-size: 14px;
    }
}

.email-form__password-input {
    padding-right: 34px;
}

.email-form__view-icon {
    background-color: #feff6b;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 34px;
    height: 100%;
}

.email-form__view-icon_close {
    background: url("img/view-close-black.svg") no-repeat 50%;
}

.email-form__view-icon_open {
    background: url("img/view-black.svg") no-repeat 50%;
}

.phone-form {
    margin-bottom: 0;
}

.phone-form__header {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 26px 0 12px;
    line-height: 23px;
    font-family: Roboto-Regular, sans-serif;
    text-align: left;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .phone-form__header {
        font-size: 15px;
        line-height: 15px;
        padding: 31px 0 8px;
    }
}

.select-currency,
.select-currency__main {
    position: relative;
    width: 100%;
}

.select-currency__main {
    background-color: #feff6b;
    border: 1px solid #be9900;
    color: #000;
    border-radius: 2px;
    height: 36px;
    line-height: 28px;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-currency__main {
        height: 36px;
    }
}

.select-currency__main * {
    pointer-events: none;
}

.select-currency__main:after {
    content: "";
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 32px;
    background: url("img/down-arrow-black.svg") no-repeat 50%;
    background-size: 10px;
    border-left: 1px;
}

.select-currency__default-input {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    display: none;
    visibility: hidden;
}

.select-currency__list {
    display: none;
    background-color: #feff6b;
    border: 1px solid #000;
    box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.32);
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    z-index: 1;
    max-height: 142px;
    overflow-x: hidden;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-currency__list {
        top: 36px;
        height: 92px;
    }
}

.select-currency__list::-webkit-scrollbar {
    display: none;
    width: 0;
}

.select-currency__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #000;
    padding: 6px 9px;
    cursor: pointer;
}

@media screen and (max-width: 479.9px) {
    .select-currency__item {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-currency__item {
        padding: 6px 9px;
        font-size: 14px;
    }
}

.select-currency__item * {
    pointer-events: none;
}

.select-currency__item:hover,
.select-currency__item_active {
    background: #1d0700;
    color: #0d173b;
}

.select-currency__item:hover .select-currency__icon,
.select-currency__item_active .select-currency__icon {
    color: #000;
}

.select-currency__placeholder {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding-left: 8px;
    font-size: 14px;
}

@media screen and (max-width: 479.9px) {
    .select-currency__placeholder {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-currency__placeholder {
        font-size: 14px;
    }
}

.select-currency__placeholder .select-currency__text {
    padding-right: 30px;
}

.select-currency__icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 26px;
    color: #000;
}

.select-currency__name {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 5px;
    margin: 0 5px;
    text-transform: uppercase;
}

.select-currency__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-list-currency .select-currency__main:after {
    background: none;
    cursor: inherit;
}

.no-list-currency>button {
    cursor: inherit;
}

.select-phone {
    position: relative;
}

.select-phone[data-open="false"]>.select-phone__list {
    display: none !important;
}

.select-phone__placeholder {
    margin-bottom: 10px;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-phone__placeholder {
        margin-bottom: 8px;
    }
}

.select-phone__placeholder .divider {
    position: absolute;
    left: 65px;
    top: 6px;
    height: 22px;
    width: 1px;
    background-color: #000;
}

.select-phone__placeholder-logo {
    background-color: rgba(29, 7, 0, 0.8);
    border: none;
    display: block;
    width: 28px;
    height: 22px;
    border-radius: 3px;
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.select-phone__placeholder-input {
    color: #000;
    font-size: inherit;
    background: url("img/down-arrow-small-black.svg") no-repeat #feff6b 44px 50%;
    background-size: 10px;
    border: 1px solid #be9900;
    cursor: text;
    width: 100%;
    border-radius: 2px;
    height: 36px;
    padding-left: 75px;
}

@media screen and (max-width: 479.9px) {
    .select-phone__placeholder-input {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-phone__placeholder-input {
        height: 36px;
        font-size: 14px;
    }
}

.select-phone__placeholder-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 75px;
}

.select-phone__list {
    background-color: #feff6b;
    border: 1px solid #000;
    box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    display: none;
    line-height: 27px;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 16;
    max-height: 182px;
    width: 100%;
    overflow-x: hidden;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-phone__list {
        max-height: 132px;
        top: 35px;
    }
}

.select-phone__list::-webkit-scrollbar {
    display: none;
    width: 0;
}

.select-phone__item {
    color: #000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 7px;
}

@media screen and (max-width: 479.9px) {
    .select-phone__item {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .select-phone__item {
        padding: 3px 7px;
        font-size: 14px;
    }
}

.select-phone__item:hover,
.select-phone__item_active {
    background: #1d0700;
    color: hsla(0, 0%, 100%, 0.8);
}

.select-phone__item-logo {
    display: block;
    height: 20px;
    width: 28px;
    margin-right: 4px;
    border: none;
    border-radius: 3px;
    pointer-events: none;
}

.select-phone__item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}

.no-list-phone .select-phone__placeholder-input {
    background-image: none;
    padding-left: 42px;
}

.no-list-phone .select-phone__placeholder-btn {
    width: 42px;
    cursor: inherit;
}

.checkbox {
    margin: 0;
    color: #fff;
    font-size: 12px;
    -webkit-order: 1;
    order: 1;
    padding: 16px 0 0;
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}

@media screen and (max-width: 479.9px) {
    .checkbox {
        font-size: 11px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .checkbox {
        font-size: 13px;
        margin: 0;
    }
}

.checkbox__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: calc(8px + 2 * (100vw - 320px) / 1600);
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .checkbox__item {
        margin-bottom: 8px;
    }
}

.checkbox__label,
.checkbox__text {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.checkbox__text-link {
    color: #ff2400;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px;
    font-family: Roboto-Regular, sans-serif;
    margin-left: 5px;
    text-decoration: underline;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .checkbox__text-link {
        font-size: 13px;
    }
}

.checkbox__label {
    cursor: pointer;
    border: 1px solid #acacac;
    border-radius: 2px;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: none;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.checkbox__label-icon {
    display: none;
    background: #fff url("img/checkbox-black.svg") no-repeat 50%;
    background-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.checkbox__input {
    display: none;
}

.checkbox__input:checked+.checkbox__label .checkbox__label-icon {
    display: -webkit-flex;
    display: flex;
}

.submit-btn {
    margin: 24px auto;
    width: 100%;
    height: 48px;
    padding: calc(12px + 3 * (100vw - 320px) / 1600) 8px;
    font-size: calc(16px + 2 * (100vw - 320px) / 1600);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-family: Roboto-Regular, sans-serif;
    border-radius: 2px;
    text-transform: inherit;
    background: #ff2400;
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .submit-btn {
        height: 42px;
        font-size: 18px;
    }
}

.forms {
    width: 320px;
    margin: 0 auto;
}

@media screen and (max-width: 479.9px) {
    .forms {
        width: 290px;
    }
}

@media screen and (orientation: landscape) and (max-height: 420px) and (min-aspect-ratio: 13/9) {
    .forms {
        width: 320px;
    }
}

.forms>form {
    display: none;
}

.forms>form.active {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.forms__questions {
    text-align: center;
    margin: 0 0 16px;
    font-size: calc(12px + 2 * (100vw - 320px) / 1600);
    -webkit-order: 1;
    order: 1;
}

@media screen and (max-width: 1919.9px) {
    .forms__questions {
        margin: 0 0 16px;
        font-size: calc(12px + 2 * (100vw - 320px) / 1600);
    }
}

@media screen and (max-width: 479.9px) {
    .forms__questions {
        margin: 0 0 16px;
    }
}

.forms__signin-link {
    margin: 0 0 0 8px;
    color: #e10001;
}

.alert {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #afff02;
    color: #fff;
    border-radius: 9px;
    position: fixed;
    top: 1px;
    right: 1px;
    padding: 32px;
    width: 256px;
    text-align: center;
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: 9999;
    box-sizing: content-box;
}

@media screen and (max-width: 479.9px) {
    .alert {
        padding: 26px;
        width: 254px;
    }
}

.alert__close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 4px;
    cursor: pointer;
}

.alert__close:after,
.alert__close:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    height: 2px;
    width: 50%;
    background-color: #fff;
}

.alert__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.alert_active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 479.9px) {
    .alert_active {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}